:root {
  --white: #fff;
  --primeira-cor: #CBF1F5;
  --segunda-cor: #A6E3E9;
  --terceira-cor: #E3FDFD;
  --quarta-cor: #FF4949;
  --gray: #d9d9d9;
  --black: #000;
  --primary-color: #000000;
  --secondary-color: #0f2137;
  --dark-secondary-color: #3c415c;
  --tertiary-color: #a6b1e1;
  --light-tertiary-color: #f3f6fb;
  --text-color: #343d48;

  --font-family: 'DM Sans', sans-serif;
}